<!doctype html>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-add" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<DIV class="bs-top">
        

{BEGIN container_editpage}
<div {$editpage_chiddenattr} data-pageid="{$pageid}" data-container="editpage" class="container    "> 




{BEGIN container_header}
<div {$header_chiddenattr} data-pageid="{$pageid}" data-container="header" class="   col-md-9 col-md-offset-3"> 

{BEGIN addheader}
	<h2 {$addheader_hiddenattr} data-pageid="{$pageid}" data-brick="addheader" >{$pagetitlelabel modx_site_content add}</h2>

{END addheader}



</div>
{END container_header}








{BEGIN container_message}
<div {$message_chiddenattr} data-pageid="{$pageid}" data-container="message" class="   col-md-6 col-md-offset-3"> 

{BEGIN message_block}
<div {$message_hiddenattr} data-pageid="{$pageid}" data-brick="message" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
		<button class="btn btn-sm btn-default" {$backbutton_attrs}>一覧に戻る</button>
{END back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>表示</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>編集</button>
{END edit_page_button}
</div>
</div>

{END message_block}



</div>
{END container_message}







</div>
{END container_editpage}



{BEGIN container_fields}
<div {$fields_chiddenattr} data-pageid="{$pageid}" data-container="fields" class="   col-md-12 "> 


<div {$addfields_hiddenattr} data-pageid="{$pageid}" data-brick="addfields" class="form-horizontal" role="form">
		<div class="container">	
			



	<div class="panel with-tabs panel-default form-tabs">
	<div class="panel-heading">
	{$tabgroup_New_tab11_header}
	</div>
	<div class="panel-body">
	{$TabGroup New_tab11}&nbsp;		
	</div>
</div>

	</div>
			{BEGIN content_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_content}" data-fieldname="content" data-signal-error-for="content{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_content}">
		{BEGIN content_label}{$label modx_site_content content}{END content_label}
	</label>
	<div class="col-md-6" >
		{$content_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="content">
		<div class="text-muted" >
		{$tooltip modx_site_content content}
		</div>
	</div>
</div>
</div>
{END content_fieldblock}

			{BEGIN introtext_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_introtext}" data-fieldname="introtext" data-signal-error-for="introtext{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_introtext}">
		{BEGIN introtext_label}{$label modx_site_content introtext}{END introtext_label}
	</label>
	<div class="col-md-6" >
		{$introtext_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="introtext">
		<div class="text-muted" >
		{$tooltip modx_site_content introtext}
		</div>
	</div>
</div>
</div>
{END introtext_fieldblock}

			{BEGIN menuindex_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_menuindex}" data-fieldname="menuindex" data-signal-error-for="menuindex{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_menuindex}">
		{BEGIN menuindex_label}{$label modx_site_content menuindex}{END menuindex_label}
	</label>
	<div class="col-md-6" >
		{$menuindex_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="menuindex">
		<div class="text-muted" >
		{$tooltip modx_site_content menuindex}
		</div>
	</div>
</div>
</div>
{END menuindex_fieldblock}

			{BEGIN richtext_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_richtext}" data-fieldname="richtext" data-signal-error-for="richtext{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_richtext}">
		{BEGIN richtext_label}{$label modx_site_content richtext}{END richtext_label}
	</label>
	<div class="col-md-6" >
		{$richtext_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="richtext">
		<div class="text-muted" >
		{$tooltip modx_site_content richtext}
		</div>
	</div>
</div>
</div>
{END richtext_fieldblock}

			{BEGIN modx_site_snippet_id_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_modx_site_snippet_id}" data-fieldname="modx_site_snippet_id" data-signal-error-for="modx_site_snippet_id{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_modx_site_snippet_id}">
		{BEGIN modx_site_snippet_id_label}{$label modx_site_content modx_site_snippet_id}{END modx_site_snippet_id_label}
	</label>
	<div class="col-md-6" >
		{$modx_site_snippet_id_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="modx_site_snippet_id">
		<div class="text-muted" >
		{$tooltip modx_site_content modx_site_snippet_id}
		</div>
	</div>
</div>
</div>
{END modx_site_snippet_id_fieldblock}

			{BEGIN modex_site_htmlsnippet_id_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_modex_site_htmlsnippet_id}" data-fieldname="modex_site_htmlsnippet_id" data-signal-error-for="modex_site_htmlsnippet_id{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_modex_site_htmlsnippet_id}">
		{BEGIN modex_site_htmlsnippet_id_label}{$label modx_site_content modex_site_htmlsnippet_id}{END modex_site_htmlsnippet_id_label}
	</label>
	<div class="col-md-6" >
		{$modex_site_htmlsnippet_id_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="modex_site_htmlsnippet_id">
		<div class="text-muted" >
		{$tooltip modx_site_content modex_site_htmlsnippet_id}
		</div>
	</div>
</div>
</div>
{END modex_site_htmlsnippet_id_fieldblock}

			{BEGIN template_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_template}" data-fieldname="template" data-signal-error-for="template{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_template}">
		{BEGIN template_label}{$label modx_site_content template}{END template_label}
	</label>
	<div class="col-md-6" >
		{$template_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="template">
		<div class="text-muted" >
		{$tooltip modx_site_content template}
		</div>
	</div>
</div>
</div>
{END template_fieldblock}

			{BEGIN type_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_type}" data-fieldname="type" data-signal-error-for="type{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_type}">
		{BEGIN type_label}{$label modx_site_content type}{END type_label}
	</label>
	<div class="col-md-6" >
		{$type_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="type">
		<div class="text-muted" >
		{$tooltip modx_site_content type}
		</div>
	</div>
</div>
</div>
{END type_fieldblock}

			{BEGIN publishedon_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_publishedon}" data-fieldname="publishedon" data-signal-error-for="publishedon{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_publishedon}">
		{BEGIN publishedon_label}{$label modx_site_content publishedon}{END publishedon_label}
	</label>
	<div class="col-md-6" >
		{$publishedon_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="publishedon">
		<div class="text-muted" >
		{$tooltip modx_site_content publishedon}
		</div>
	</div>
</div>
</div>
{END publishedon_fieldblock}

			{BEGIN contentType_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_contentType}" data-fieldname="contentType" data-signal-error-for="contentType{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_contentType}">
		{BEGIN contentType_label}{$label modx_site_content contentType}{END contentType_label}
	</label>
	<div class="col-md-6" >
		{$contentType_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="contentType">
		<div class="text-muted" >
		{$tooltip modx_site_content contentType}
		</div>
	</div>
</div>
</div>
{END contentType_fieldblock}

			{BEGIN pagetitle_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_pagetitle}" data-fieldname="pagetitle" data-signal-error-for="pagetitle{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_pagetitle}">
		{BEGIN pagetitle_label}{$label modx_site_content pagetitle}{END pagetitle_label}
	</label>
	<div class="col-md-6" >
		{$pagetitle_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="pagetitle">
		<div class="text-muted" >
		{$tooltip modx_site_content pagetitle}
		</div>
	</div>
</div>
</div>
{END pagetitle_fieldblock}

			{BEGIN longtitle_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_longtitle}" data-fieldname="longtitle" data-signal-error-for="longtitle{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_longtitle}">
		{BEGIN longtitle_label}{$label modx_site_content longtitle}{END longtitle_label}
	</label>
	<div class="col-md-6" >
		{$longtitle_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="longtitle">
		<div class="text-muted" >
		{$tooltip modx_site_content longtitle}
		</div>
	</div>
</div>
</div>
{END longtitle_fieldblock}

			{BEGIN description_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_description}" data-fieldname="description" data-signal-error-for="description{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_description}">
		{BEGIN description_label}{$label modx_site_content description}{END description_label}
	</label>
	<div class="col-md-6" >
		{$description_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="description">
		<div class="text-muted" >
		{$tooltip modx_site_content description}
		</div>
	</div>
</div>
</div>
{END description_fieldblock}

			{BEGIN alias_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_alias}" data-fieldname="alias" data-signal-error-for="alias{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_alias}">
		{BEGIN alias_label}{$label modx_site_content alias}{END alias_label}
	</label>
	<div class="col-md-6" >
		{$alias_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="alias">
		<div class="text-muted" >
		{$tooltip modx_site_content alias}
		</div>
	</div>
</div>
</div>
{END alias_fieldblock}

			{BEGIN link_attributes_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_link_attributes}" data-fieldname="link_attributes" data-signal-error-for="link_attributes{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_link_attributes}">
		{BEGIN link_attributes_label}{$label modx_site_content link_attributes}{END link_attributes_label}
	</label>
	<div class="col-md-6" >
		{$link_attributes_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="link_attributes">
		<div class="text-muted" >
		{$tooltip modx_site_content link_attributes}
		</div>
	</div>
</div>
</div>
{END link_attributes_fieldblock}

			{BEGIN published_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_published}" data-fieldname="published" data-signal-error-for="published{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_published}">
		{BEGIN published_label}{$label modx_site_content published}{END published_label}
	</label>
	<div class="col-md-6" >
		{$published_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="published">
		<div class="text-muted" >
		{$tooltip modx_site_content published}
		</div>
	</div>
</div>
</div>
{END published_fieldblock}

			{BEGIN pub_date_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_pub_date}" data-fieldname="pub_date" data-signal-error-for="pub_date{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_pub_date}">
		{BEGIN pub_date_label}{$label modx_site_content pub_date}{END pub_date_label}
	</label>
	<div class="col-md-6" >
		{$pub_date_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="pub_date">
		<div class="text-muted" >
		{$tooltip modx_site_content pub_date}
		</div>
	</div>
</div>
</div>
{END pub_date_fieldblock}

		<div class="container">	
		


	<div class="panel with-tabs panel-default form-tabs">
	<div class="panel-heading">
	{$tabgroup_New_tab1_header}
	</div>
	<div class="panel-body">
	{$TabGroup New_tab1}&nbsp;		
	</div>
</div>

	</div>
			{BEGIN unpub_date_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_unpub_date}" data-fieldname="unpub_date" data-signal-error-for="unpub_date{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_unpub_date}">
		{BEGIN unpub_date_label}{$label modx_site_content unpub_date}{END unpub_date_label}
	</label>
	<div class="col-md-6" >
		{$unpub_date_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="unpub_date">
		<div class="text-muted" >
		{$tooltip modx_site_content unpub_date}
		</div>
	</div>
</div>
</div>
{END unpub_date_fieldblock}

			{BEGIN parent_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_parent}" data-fieldname="parent" data-signal-error-for="parent{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_parent}">
		{BEGIN parent_label}{$label modx_site_content parent}{END parent_label}
	</label>
	<div class="col-md-6" >
		{$parent_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="parent">
		<div class="text-muted" >
		{$tooltip modx_site_content parent}
		</div>
	</div>
</div>
</div>
{END parent_fieldblock}

			{BEGIN isfolder_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_isfolder}" data-fieldname="isfolder" data-signal-error-for="isfolder{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_isfolder}">
		{BEGIN isfolder_label}{$label modx_site_content isfolder}{END isfolder_label}
	</label>
	<div class="col-md-6" >
		{$isfolder_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="isfolder">
		<div class="text-muted" >
		{$tooltip modx_site_content isfolder}
		</div>
	</div>
</div>
</div>
{END isfolder_fieldblock}

			{BEGIN searchable_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_searchable}" data-fieldname="searchable" data-signal-error-for="searchable{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_searchable}">
		{BEGIN searchable_label}{$label modx_site_content searchable}{END searchable_label}
	</label>
	<div class="col-md-6" >
		{$searchable_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="searchable">
		<div class="text-muted" >
		{$tooltip modx_site_content searchable}
		</div>
	</div>
</div>
</div>
{END searchable_fieldblock}

			{BEGIN cacheable_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_cacheable}" data-fieldname="cacheable" data-signal-error-for="cacheable{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_cacheable}">
		{BEGIN cacheable_label}{$label modx_site_content cacheable}{END cacheable_label}
	</label>
	<div class="col-md-6" >
		{$cacheable_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="cacheable">
		<div class="text-muted" >
		{$tooltip modx_site_content cacheable}
		</div>
	</div>
</div>
</div>
{END cacheable_fieldblock}

			{BEGIN createdby_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_createdby}" data-fieldname="createdby" data-signal-error-for="createdby{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_createdby}">
		{BEGIN createdby_label}{$label modx_site_content createdby}{END createdby_label}
	</label>
	<div class="col-md-6" >
		{$createdby_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="createdby">
		<div class="text-muted" >
		{$tooltip modx_site_content createdby}
		</div>
	</div>
</div>
</div>
{END createdby_fieldblock}

			{BEGIN createdon_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_createdon}" data-fieldname="createdon" data-signal-error-for="createdon{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_createdon}">
		{BEGIN createdon_label}{$label modx_site_content createdon}{END createdon_label}
	</label>
	<div class="col-md-6" >
		{$createdon_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="createdon">
		<div class="text-muted" >
		{$tooltip modx_site_content createdon}
		</div>
	</div>
</div>
</div>
{END createdon_fieldblock}

			{BEGIN editedby_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_editedby}" data-fieldname="editedby" data-signal-error-for="editedby{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_editedby}">
		{BEGIN editedby_label}{$label modx_site_content editedby}{END editedby_label}
	</label>
	<div class="col-md-6" >
		{$editedby_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="editedby">
		<div class="text-muted" >
		{$tooltip modx_site_content editedby}
		</div>
	</div>
</div>
</div>
{END editedby_fieldblock}

			{BEGIN editedon_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_editedon}" data-fieldname="editedon" data-signal-error-for="editedon{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_editedon}">
		{BEGIN editedon_label}{$label modx_site_content editedon}{END editedon_label}
	</label>
	<div class="col-md-6" >
		{$editedon_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="editedon">
		<div class="text-muted" >
		{$tooltip modx_site_content editedon}
		</div>
	</div>
</div>
</div>
{END editedon_fieldblock}

			{BEGIN deleted_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_deleted}" data-fieldname="deleted" data-signal-error-for="deleted{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_deleted}">
		{BEGIN deleted_label}{$label modx_site_content deleted}{END deleted_label}
	</label>
	<div class="col-md-6" >
		{$deleted_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="deleted">
		<div class="text-muted" >
		{$tooltip modx_site_content deleted}
		</div>
	</div>
</div>
</div>
{END deleted_fieldblock}

			{BEGIN deletedon_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_deletedon}" data-fieldname="deletedon" data-signal-error-for="deletedon{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_deletedon}">
		{BEGIN deletedon_label}{$label modx_site_content deletedon}{END deletedon_label}
	</label>
	<div class="col-md-6" >
		{$deletedon_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="deletedon">
		<div class="text-muted" >
		{$tooltip modx_site_content deletedon}
		</div>
	</div>
</div>
</div>
{END deletedon_fieldblock}

			{BEGIN deletedby_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_deletedby}" data-fieldname="deletedby" data-signal-error-for="deletedby{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_deletedby}">
		{BEGIN deletedby_label}{$label modx_site_content deletedby}{END deletedby_label}
	</label>
	<div class="col-md-6" >
		{$deletedby_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="deletedby">
		<div class="text-muted" >
		{$tooltip modx_site_content deletedby}
		</div>
	</div>
</div>
</div>
{END deletedby_fieldblock}

			{BEGIN publishedby_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_publishedby}" data-fieldname="publishedby" data-signal-error-for="publishedby{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_publishedby}">
		{BEGIN publishedby_label}{$label modx_site_content publishedby}{END publishedby_label}
	</label>
	<div class="col-md-6" >
		{$publishedby_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="publishedby">
		<div class="text-muted" >
		{$tooltip modx_site_content publishedby}
		</div>
	</div>
</div>
</div>
{END publishedby_fieldblock}

			{BEGIN menutitle_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_menutitle}" data-fieldname="menutitle" data-signal-error-for="menutitle{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_menutitle}">
		{BEGIN menutitle_label}{$label modx_site_content menutitle}{END menutitle_label}
	</label>
	<div class="col-md-6" >
		{$menutitle_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="menutitle">
		<div class="text-muted" >
		{$tooltip modx_site_content menutitle}
		</div>
	</div>
</div>
</div>
{END menutitle_fieldblock}

			{BEGIN donthit_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_donthit}" data-fieldname="donthit" data-signal-error-for="donthit{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_donthit}">
		{BEGIN donthit_label}{$label modx_site_content donthit}{END donthit_label}
	</label>
	<div class="col-md-6" >
		{$donthit_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="donthit">
		<div class="text-muted" >
		{$tooltip modx_site_content donthit}
		</div>
	</div>
</div>
</div>
{END donthit_fieldblock}

			{BEGIN haskeywords_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_haskeywords}" data-fieldname="haskeywords" data-signal-error-for="haskeywords{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_haskeywords}">
		{BEGIN haskeywords_label}{$label modx_site_content haskeywords}{END haskeywords_label}
	</label>
	<div class="col-md-6" >
		{$haskeywords_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="haskeywords">
		<div class="text-muted" >
		{$tooltip modx_site_content haskeywords}
		</div>
	</div>
</div>
</div>
{END haskeywords_fieldblock}

			{BEGIN hasmetatags_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_hasmetatags}" data-fieldname="hasmetatags" data-signal-error-for="hasmetatags{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_hasmetatags}">
		{BEGIN hasmetatags_label}{$label modx_site_content hasmetatags}{END hasmetatags_label}
	</label>
	<div class="col-md-6" >
		{$hasmetatags_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="hasmetatags">
		<div class="text-muted" >
		{$tooltip modx_site_content hasmetatags}
		</div>
	</div>
</div>
</div>
{END hasmetatags_fieldblock}

			{BEGIN privateweb_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_privateweb}" data-fieldname="privateweb" data-signal-error-for="privateweb{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_privateweb}">
		{BEGIN privateweb_label}{$label modx_site_content privateweb}{END privateweb_label}
	</label>
	<div class="col-md-6" >
		{$privateweb_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="privateweb">
		<div class="text-muted" >
		{$tooltip modx_site_content privateweb}
		</div>
	</div>
</div>
</div>
{END privateweb_fieldblock}

			{BEGIN privatemgr_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_privatemgr}" data-fieldname="privatemgr" data-signal-error-for="privatemgr{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_privatemgr}">
		{BEGIN privatemgr_label}{$label modx_site_content privatemgr}{END privatemgr_label}
	</label>
	<div class="col-md-6" >
		{$privatemgr_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="privatemgr">
		<div class="text-muted" >
		{$tooltip modx_site_content privatemgr}
		</div>
	</div>
</div>
</div>
{END privatemgr_fieldblock}

			{BEGIN content_dispo_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_content_dispo}" data-fieldname="content_dispo" data-signal-error-for="content_dispo{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_content_dispo}">
		{BEGIN content_dispo_label}{$label modx_site_content content_dispo}{END content_dispo_label}
	</label>
	<div class="col-md-6" >
		{$content_dispo_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="content_dispo">
		<div class="text-muted" >
		{$tooltip modx_site_content content_dispo}
		</div>
	</div>
</div>
</div>
{END content_dispo_fieldblock}

			{BEGIN hidemenu_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_hidemenu}" data-fieldname="hidemenu" data-signal-error-for="hidemenu{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_hidemenu}">
		{BEGIN hidemenu_label}{$label modx_site_content hidemenu}{END hidemenu_label}
	</label>
	<div class="col-md-6" >
		{$hidemenu_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="hidemenu">
		<div class="text-muted" >
		{$tooltip modx_site_content hidemenu}
		</div>
	</div>
</div>
</div>
{END hidemenu_fieldblock}

			{BEGIN alias_visible_fieldblock}
<div class=container>
<div class="form-group {$fielddispclass_alias_visible}" data-fieldname="alias_visible" data-signal-error-for="alias_visible{$id}" >
	<label class="col-md-3 control-label" for="{$labelfor_alias_visible}">
		{BEGIN alias_visible_label}{$label modx_site_content alias_visible}{END alias_visible_label}
	</label>
	<div class="col-md-6" >
		{$alias_visible_editcontrol}
	</div>
	<div class="col-md-3 help-block" data-helpfor="alias_visible">
		<div class="text-muted" >
		{$tooltip modx_site_content alias_visible}
		</div>
	</div>
</div>
</div>
{END alias_visible_fieldblock}

		<div class="container">	
		


	<div class="panel with-tabs panel-default form-tabs">
	<div class="panel-heading">
	{$tabgroup_New_tab21_header}
	</div>
	<div class="panel-body">
	{$TabGroup New_tab21}&nbsp;		
	</div>
</div>

	</div>
			
		





{BEGIN details_modx_site_templates}
<div data-pageid="1" class="bs-details"> 
<div class="panel panel-info details-grid">

<div class="panel-heading">
	<h4 class="panel-title">テンプレート
		<span>
{BEGIN details_inlineadd_modx_site_templates_link}
			<button type="button" class="btn btn-xs btn-info" {$details_inlineadd_modx_site_templates_attrs}>インライン追加</button>
{END details_inlineadd_modx_site_templates_link}		
{BEGIN details_add_modx_site_templates_link}
			<button type="button" class="btn btn-xs btn-info" {$details_add_modx_site_templates_attrs}>追加</button>
{END details_add_modx_site_templates_link}
{BEGIN details_edit_modx_site_templates_link}
			<button type="button" class="btn btn-xs btn-info" disabled {$details_edit_modx_site_templates_attrs}>編集</button>
{END details_edit_modx_site_templates_link}
{BEGIN details_updateselected_modx_site_templates_link}
			<button type="button" class="btn btn-xs btn-info" disabled {$details_updateselected_modx_site_templates_attrs}>Update selected</button>
{END details_updateselected_modx_site_templates_link}


{BEGIN details_delete_modx_site_templates_link}
			<button type="button" class="btn btn-xs btn-info " disabled {$details_delete_modx_site_templates_attrs}>削除</button>
{END details_delete_modx_site_templates_link}

{BEGIN saveall_modx_site_templates_link}
			<button type="button" class="btn btn-xs btn-info" {$savealllink_modx_site_templates_attrs} {$savealllink_modx_site_templates_span}>全て保存</button>
{END saveall_modx_site_templates_link}
{BEGIN cancelall_modx_site_templates_link}
			<button type="button" class="btn btn-xs btn-info" {$cancelalllink_modx_site_templates_attrs} {$cancelalllink_modx_site_templates_span}>キャンセル</button>
{END cancelall_modx_site_templates_link}
		</span>
	</h4>
</div>
<div class="panel-body">
	{$displayDetailTable_modx_site_templates}
</div>
</div>
</div>
{END details_modx_site_templates}
	
	
	

			
		





{BEGIN details_modx_site_snippets}
<div data-pageid="1" class="bs-details"> 
<div class="panel panel-info details-grid">

<div class="panel-heading">
	<h4 class="panel-title">スニペット
		<span>
{BEGIN details_inlineadd_modx_site_snippets_link}
			<button type="button" class="btn btn-xs btn-info" {$details_inlineadd_modx_site_snippets_attrs}>インライン追加</button>
{END details_inlineadd_modx_site_snippets_link}		
{BEGIN details_add_modx_site_snippets_link}
			<button type="button" class="btn btn-xs btn-info" {$details_add_modx_site_snippets_attrs}>追加</button>
{END details_add_modx_site_snippets_link}
{BEGIN details_edit_modx_site_snippets_link}
			<button type="button" class="btn btn-xs btn-info" disabled {$details_edit_modx_site_snippets_attrs}>編集</button>
{END details_edit_modx_site_snippets_link}
{BEGIN details_updateselected_modx_site_snippets_link}
			<button type="button" class="btn btn-xs btn-info" disabled {$details_updateselected_modx_site_snippets_attrs}>Update selected</button>
{END details_updateselected_modx_site_snippets_link}


{BEGIN details_delete_modx_site_snippets_link}
			<button type="button" class="btn btn-xs btn-info " disabled {$details_delete_modx_site_snippets_attrs}>削除</button>
{END details_delete_modx_site_snippets_link}

{BEGIN saveall_modx_site_snippets_link}
			<button type="button" class="btn btn-xs btn-info" {$savealllink_modx_site_snippets_attrs} {$savealllink_modx_site_snippets_span}>全て保存</button>
{END saveall_modx_site_snippets_link}
{BEGIN cancelall_modx_site_snippets_link}
			<button type="button" class="btn btn-xs btn-info" {$cancelalllink_modx_site_snippets_attrs} {$cancelalllink_modx_site_snippets_span}>キャンセル</button>
{END cancelall_modx_site_snippets_link}
		</span>
	</h4>
</div>
<div class="panel-body">
	{$displayDetailTable_modx_site_snippets}
</div>
</div>
</div>
{END details_modx_site_snippets}
	
	
	

			
		





{BEGIN details_modx_site_htmlsnippets}
<div data-pageid="1" class="bs-details"> 
<div class="panel panel-info details-grid">

<div class="panel-heading">
	<h4 class="panel-title">チャンク
		<span>
{BEGIN details_inlineadd_modx_site_htmlsnippets_link}
			<button type="button" class="btn btn-xs btn-info" {$details_inlineadd_modx_site_htmlsnippets_attrs}>インライン追加</button>
{END details_inlineadd_modx_site_htmlsnippets_link}		
{BEGIN details_add_modx_site_htmlsnippets_link}
			<button type="button" class="btn btn-xs btn-info" {$details_add_modx_site_htmlsnippets_attrs}>追加</button>
{END details_add_modx_site_htmlsnippets_link}
{BEGIN details_edit_modx_site_htmlsnippets_link}
			<button type="button" class="btn btn-xs btn-info" disabled {$details_edit_modx_site_htmlsnippets_attrs}>編集</button>
{END details_edit_modx_site_htmlsnippets_link}
{BEGIN details_updateselected_modx_site_htmlsnippets_link}
			<button type="button" class="btn btn-xs btn-info" disabled {$details_updateselected_modx_site_htmlsnippets_attrs}>Update selected</button>
{END details_updateselected_modx_site_htmlsnippets_link}


{BEGIN details_delete_modx_site_htmlsnippets_link}
			<button type="button" class="btn btn-xs btn-info " disabled {$details_delete_modx_site_htmlsnippets_attrs}>削除</button>
{END details_delete_modx_site_htmlsnippets_link}

{BEGIN saveall_modx_site_htmlsnippets_link}
			<button type="button" class="btn btn-xs btn-info" {$savealllink_modx_site_htmlsnippets_attrs} {$savealllink_modx_site_htmlsnippets_span}>全て保存</button>
{END saveall_modx_site_htmlsnippets_link}
{BEGIN cancelall_modx_site_htmlsnippets_link}
			<button type="button" class="btn btn-xs btn-info" {$cancelalllink_modx_site_htmlsnippets_attrs} {$cancelalllink_modx_site_htmlsnippets_span}>キャンセル</button>
{END cancelall_modx_site_htmlsnippets_link}
		</span>
	</h4>
</div>
<div class="panel-body">
	{$displayDetailTable_modx_site_htmlsnippets}
</div>
</div>
</div>
{END details_modx_site_htmlsnippets}
	
	
	

			
		





{BEGIN details_modx_site_content_child}
<div data-pageid="1" class="bs-details"> 
<div class="panel panel-info details-grid">

<div class="panel-heading">
	<h4 class="panel-title">サブコンテンツ
		<span>
{BEGIN details_inlineadd_modx_site_content_child_link}
			<button type="button" class="btn btn-xs btn-info" {$details_inlineadd_modx_site_content_child_attrs}>インライン追加</button>
{END details_inlineadd_modx_site_content_child_link}		
{BEGIN details_add_modx_site_content_child_link}
			<button type="button" class="btn btn-xs btn-info" {$details_add_modx_site_content_child_attrs}>追加</button>
{END details_add_modx_site_content_child_link}
{BEGIN details_edit_modx_site_content_child_link}
			<button type="button" class="btn btn-xs btn-info" disabled {$details_edit_modx_site_content_child_attrs}>編集</button>
{END details_edit_modx_site_content_child_link}
{BEGIN details_updateselected_modx_site_content_child_link}
			<button type="button" class="btn btn-xs btn-info" disabled {$details_updateselected_modx_site_content_child_attrs}>Update selected</button>
{END details_updateselected_modx_site_content_child_link}


{BEGIN details_delete_modx_site_content_child_link}
			<button type="button" class="btn btn-xs btn-info " disabled {$details_delete_modx_site_content_child_attrs}>削除</button>
{END details_delete_modx_site_content_child_link}

{BEGIN saveall_modx_site_content_child_link}
			<button type="button" class="btn btn-xs btn-info" {$savealllink_modx_site_content_child_attrs} {$savealllink_modx_site_content_child_span}>全て保存</button>
{END saveall_modx_site_content_child_link}
{BEGIN cancelall_modx_site_content_child_link}
			<button type="button" class="btn btn-xs btn-info" {$cancelalllink_modx_site_content_child_attrs} {$cancelalllink_modx_site_content_child_span}>キャンセル</button>
{END cancelall_modx_site_content_child_link}
		</span>
	</h4>
</div>
<div class="panel-body">
	{$displayDetailTable_modx_site_content_child}
</div>
</div>
</div>
{END details_modx_site_content_child}
	
	
	


</div>




</div>
{END container_fields}



{BEGIN container_bottombuttons}
<div {$bottombuttons_chiddenattr} data-pageid="{$pageid}" data-container="bottombuttons" class="container    "> 




{BEGIN container_buttons}
<div {$buttons_chiddenattr} data-pageid="{$pageid}" data-container="buttons" class=" form-group   "> 




{BEGIN container_leftbuttons}
<div {$leftbuttons_chiddenattr} data-pageid="{$pageid}" data-container="leftbuttons" class="   col-md-3 col-md-offset-3"> 

{BEGIN addbuttons}
	{BEGIN save_button}
	<button class="btn btn-primary" {$savebutton_attrs}>保存</button>
	{END save_button}
	{BEGIN reset_button}
	<button class="btn btn-default" id="resetButton{$id}">リセット</button>
	{END reset_button}
	{BEGIN back_button}
		<button class="btn btn-default" id="backButton{$id}">一覧に戻る</button>
	{END back_button}
	{BEGIN cancel_button}
	<a href="#" class="btn btn-default" id="cancelButton{$id}">キャンセル(Cancel)</a>
	{END cancel_button}

{END addbuttons}



</div>
{END container_leftbuttons}






</div>
{END container_buttons}






</div>
{END container_bottombuttons}


		</div>
		<div class="bs-middle ">
			<div class="bs-topmiddle">
				
			</div>
			<div class="bs-left" {$blockattr_left}>
				
			</div>
			<div class="bs-center">
				
			</div>
			<div class="bs-right">
				
			</div>
		</div>
		<DIV class="bs-bottom">
        
		</div>
		{$footer}
	{END body}
	</body>
</html>
